body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.card {
    width: 100px;
    height: 150px;
    background-color: #790808;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
}

#text{
    font-size: 34px; 
    background-color: rgba(53, 16, 16, 0.418);
}